$cobalt: #25577d;
$cobalt-semi: #99cef6;
$cobalt-light: #bbdfff;

$gray: #707070;
$gray-light: #aaaaaa;

$yellow: #f9db7d;
$yellow-light: #ffecb7;

$red: #f87e7d;
$red-light: #fcb2b2;

@font-face {
  font-family: RobotoRegular;
  src: url("/fonts/Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: RobotoMedium;
  src: url("/fonts/Roboto-Medium.ttf");
  font-display: swap;
}

:root {
  font-size: 62.5%;
  body {
    margin: 0;
    // color: $gray;
    color: #969696;
    // Body font size 16px
    font-size: 1.6rem;
    font-family: "RobotoRegular";
    background-color: #f9f8f3;
    transition: all 300ms ease-in;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p,
h1,
h2,
h3,
h4 {
  hyphens: manual !important;
}
.episode-title-wrapper {
  padding: 0 1rem;
}
.inner-page-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 16rem;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  h1 {
    z-index: 1;
  }
  h1,
  .episode-date {
    text-align: center;
    margin: 3rem 0;
  }
  .episode-date {
    color: #f87e7d;
    font-weight: bold;
  }
}
.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  // min-height: 100vh;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    display: grid;
    text-align: center;
  }
  h1 {
    margin-bottom: 3rem;
  }
  & > img {
    width: 240rem;
    @media screen and (max-width: 768px) {
      margin: 4rem 0;
      width: 250rem;
    }
  }
}
.center-section-wrapper {
  text-align: center;
  margin-top: 7rem;
  width: 100%;
  h1 {
    max-width: 30ch;
    margin: 0 auto;
  }
}

.common-wrapper {
  margin-bottom: 5rem;
  display: grid;
  align-items: center;
  max-width: 100ch;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 8rem;
  @media screen and (max-width: 768px) {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.app-btn {
  font-family: RobotoMedium;
  button {
    display: flex;
    background-color: $red;
    padding: 1rem;
    border-radius: 36px;
    color: #fff;
    justify-content: space-around;
    width: 22rem;
    -webkit-box-shadow: 2px 27px 38px -1px rgba(252, 178, 178, 1);
    -moz-box-shadow: 2px 27px 38px -1px rgba(252, 178, 178, 1);
    box-shadow: 2px 27px 38px -1px rgba(252, 178, 178, 1);
    @media screen and (max-width: 1024px) {
      margin: 0 auto;
    }
  }
}

.home-episode-wrapper {
  padding: 4rem 5rem;
}
.home-about-wrapper {
  // margin-top: 6rem;
}
.app-center-wrapper {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  section {
    flex-direction: column;
  }
  @media screen and (max-width: 1300px) {
    padding: 0 3rem;
  }
}
.social-media {
  display: flex;
  // justify-content: flex-start;
  // width: 30ch;
  margin-top: 2rem;
  img {
    height: 2rem;
    margin-right: 1rem;
  }
}
.about-us-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  @media screen and (max-width: 425px) {
    margin-top: 7rem;
  }
  .about-us-items {
    display: flex;
    justify-content: space-around;
    @media screen and (min-width: 1024px) {
      width: 89rem;
    }
    @media screen and (max-width: 700px) {
      flex-direction: column;
      width: 100%;
      div {
        margin-bottom: 1rem;
      }
    }
    & > div {
      // width: 43rem;
      @media screen and (max-width: 425px) {
        // width: 100%;
      }
      @media screen and (max-width: 768px) {
        padding: 0 3rem;
      }
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      h1 {
        color: $cobalt;
        font-size: 2.5rem;
      }
      p {
        color: $cobalt;
        text-align: left;
        width: 30ch;
      }
      & > img {
        height: 21rem;
      }
    }
  }
}
.contact-us-wrapper {
  flex-direction: column;
  text-align: center;
  width: 50ch;
  color: #fff;

  h1 {
    color: #fff;
  }
  form {
    display: flex;
    flex-direction: column;
    text-align: left;
    input {
      height: 5rem;
      outline: none;
      border-radius: 5px;
      padding-left: 1rem;
      color: $cobalt;
      margin-bottom: 2rem;
    }
    input[type="submit"] {
      border-radius: 3rem;
      width: 23rem;
      margin: 0 auto;
      color: $red;
      background-color: #fff;
    }
  }
}
.featured-episodes {
  display: flex;
  justify-content: space-between;
  img {
    width: 20rem;
  }
  @media screen and (max-width: 425px) {
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
  }
}
.podcast-player-wrapper {
  height: 13rem;
  background-color: #e3e3e3;
  border-radius: 8px;
}
.app-wrapper {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  @media screen and (max-width: 1300px) {
    padding: 0 3rem;
  }
}
.app-img-figure {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  z-index: -1;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
  img {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    @media screen and (max-width: 768px) {
      height: 95rem;
    }
    @media screen and (max-width: 425px) {
      height: 83rem;
    }
  }
}
.first-section {
  min-height: 73.4vh;
  @media screen and (min-width: 1024px) {
    min-height: 76.4vh;
  }
}

.spacer {
  margin: 5.7rem;
  @media screen and (max-width: 425px) {
    margin: 3rem;
  }
}

.single-episode-bg {
  background-image: url("/img/single-episodes-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: -1;
  margin: 0 auto;
}

.episode-bg {
  background-image: url("/img/episode-main-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: -1;
  margin: 0 auto;
  @media screen and (min-width: 1441px) {
    background-position-y: -23rem;
    background-size: cover;
  }
  @media screen and (max-width: 1440px) {
    background-position-y: -15rem;
    background-size: cover;
  }
  @media screen and (max-width: 768px) {
    background-size: cover;
    background-position-y: -10rem;
  }
}
.font-white {
  color: #fff;
  h1 {
    color: #fff;
  }
}
.about-bg {
  background-image: url("/img/about-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
  margin: 0 auto;
  @media screen and (min-width: 1441px) {
    background-position-y: -17rem;
    background-size: cover;
  }
  @media screen and (max-width: 1440px) {
    background-position-y: -15rem;
    background-size: cover;
  }
  @media screen and (max-width: 768px) {
    background-size: cover;
    background-position-y: -10rem;
  }
}

.default-section-header {
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: relative;
  margin: 0 auto;
  @media screen and (min-width: 1256px) {
    background-position-y: -15rem;
  }
  @media screen and (max-width: 1024px) {
    // background-position-y: -15rem;
  }
  .section-wrapper {
    min-height: 76vh;
    align-items: initial;
    padding-top: 12rem;
    p {
      max-width: 54rem;
      margin: 0 auto;
    }
  }
}

.resources-bg {
  background-image: url("/img/resource-header.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
  margin: 0 auto;
  @media screen and (min-width: 1441px) {
    background-position-y: -17rem;
    background-size: cover;
  }
  @media screen and (max-width: 1440px) {
    background-position-y: -15rem;
    background-size: cover;
  }
  @media screen and (max-width: 768px) {
    background-size: cover;
    background-position-y: -10rem;
  }
}
.about-wrapper {
  color: #fff;
  h1 {
    color: #fff;
  }
}
.reverse-wrapper {
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    display: flex !important;
  }
}
.content-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  max-width: 105rem;
  padding: 0 3rem;
  h3 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  img {
    // height: 27rem;
    margin: 0 auto;
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: initial;
    text-align: center;
    margin-top: 9rem;
  }

  @media screen and (max-width: 768px) {
    padding: 0 4rem;
  }
}
.plain-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 3rem;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}
.download-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.download-items {
  .download-item {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    justify-content: center;
    align-items: center;
    min-height: 17rem;
    grid-gap: 3rem;
    @media screen and (max-width: 768px) {
      grid-template-columns: initial;
      text-align: center;
      margin-bottom: 3rem;
      margin-top: 3rem;
      img {
        margin: 0 auto;
      }
    }
    h3 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }
    button {
      width: 20rem;
      background: $red;
      padding: 1rem 0;
      border-radius: 23px;
      color: #fff;
    }
  }
}
footer {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  color: $cobalt;
  height: 35rem;
  @media screen and (max-width: 768px) {
    height: 35rem;
    flex-direction: column;
    flex-direction: column-reverse;
    height: 100%;
  }
  h3 {
    font-weight: bold;
    margin-right: 2rem;
  }
  span {
    color: $gray;
  }
  .footer-links {
    padding: 4rem;
    display: flex;
    @media screen and (max-width: 768px) {
      text-align: center;
      flex-direction: column;
    }
  }
  .footer-copy-rights {
    padding: 0 4rem;
    font-size: 1.5rem;
    @media screen and (max-width: 768px) {
      text-align: center;
      font-size: 1rem;
    }
  }
  .left-footer {
    background-color: #e2e2e2;
    width: 100%;
    .left-footer-content {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      & div {
        margin: 4rem;
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      @media screen and (max-width: 425px) {
        text-align: center;
      }
    }
  }
  .right-footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    @media screen and (max-width: 768px) {
      height: 33rem;
      margin-top: 8rem;
    }

    & > div {
      margin-bottom: 9rem;
    }

    .social-media {
      align-items: center;
      @media screen and (max-width: 768px) {
        justify-content: center;
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      height: 30rem;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
section {
  display: flex;
  justify-content: space-evenly;
  // min-height: 65vh;
  min-height: 54vh;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  .section-content-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    @media screen and (min-width: 768px) {
      width: 56ch;
    }
    @media screen and (max-width: 768px) {
      text-align: center;
      margin: 0 auto;
      margin-top: -22rem;
    }
    @media screen and (max-width: 425px) {
      // width: 40ch;
      margin-top: -15rem;
      padding: 0 2rem;
    }
    @media screen and (max-width: 320px) {
      width: 30ch;
    }
    p {
      margin-top: 2rem;
    }
  }
  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media screen and (min-width: 768px) {
      width: 56ch;
    }
  }
  .section-image {
    display: flex;
    margin: 0 2rem;
    img {
      width: 67rem;
    }
    @media screen and (max-width: 768px) {
      img {
        width: 45rem;
        margin: 6rem auto;
      }
    }
  }
}

// .section-wrapper {
//   max-width: 1300px;
//   margin: 0 auto;
//   // display: flex;
//   flex-direction: initial;
//   @media screen and (max-width: 768px){
//     padding: 0 3rem;
//   }
// }

.app-decor {
  &:before {
    content: "";
    background: url("/img/section-accent.svg");
    background-repeat: no-repeat;
    height: 100%;
    width: 7rem;
    position: absolute;
    top: -2rem;
    background-size: 2rem;
  }
}
h1 {
  font-size: 3.8rem;
  white-space: pre-wrap;
  color: $cobalt-semi;
  font-family: "RobotoMedium";
  line-height: 1.2em;
  position: relative;
  // z-index: -1;
  @media screen and (max-width: 1024px) {
    margin-bottom: 2rem;
  }
  @media screen and (max-width: 425px) {
    text-align: center;
  }
}

p {
  @media screen and (min-width: 1024px) {
    margin-bottom: 2rem;
  }
  @media screen and (max-width: 425px) {
    margin-bottom: 4rem;
    text-align: center;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 1rem;
  font-family: "RobotoMedium";
  padding-left: 67.5px;
  padding-right: 67.5px;
  margin-bottom: 3rem;
  @media screen and (max-width: 1024px) {
    padding-left: 51.5px;
    padding-right: 51.5px;
  }
  @media screen and (max-width: 768px) {
    padding-left: 23.5px;
    padding-right: 23.5px;
  }
  ul {
    display: flex;

    .active {
      border-radius: 17px;
      border: 1px solid #2a587b;
    }
    &:hover {
      color: #aaaaaa;
    }
    li {
      padding: 0.3rem 2rem;
      height: 3rem;
      font-size: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: color 300ms ease-in;

      &:hover {
        border-radius: 17px;
        border: 1px solid #2a587b;
        color: $gray;
      }
      @media screen and (max-width: 900px) {
        padding: 0.3rem 1rem;
      }
    }
  }
}

[aria-current] {
  position: relative;
  border-radius: 17px;
  border: 1px solid #2a587b;
  color: $gray;
}

.third-section,
.fourth-section {
  img {
    @media screen and (max-width: 425px) {
      height: 100% !important;
    }
  }
}
.main-wrap {
  position: relative;
  overflow: hidden;
}
.home-latest-episode-wrapper {
  @media screen and (min-width: 1366px) {
    height: 125rem;
  }
}

.fifth-section {
  img {
    height: 55rem !important;
    @media screen and (max-width: 768px) {
      height: 65rem !important;
    }
  }
}

.fifth-section-wrapper {
  @media screen and (min-width: 1024px) {
    height: 55rem;
  }
}

.logo-wrapper {
  height: 13rem;
  width: 100%;
  img {
    height: 100%;
  }
  @media screen and (max-width: 696px) {
    height: 8rem;
  }
}

.listen-btn {
  padding: 0.3rem 6rem;
  background-color: $cobalt;
  border-radius: 17px;
  color: #fff;
  margin-left: 8rem;
  display: flex;
  justify-content: center;
  width: 15rem;
  height: 3rem;
  align-items: center;
  svg {
    height: 1rem;
  }
  @media screen and (max-width: 1024px) {
    margin-left: 2rem;
  }
  @media screen and (max-width: 768px) {
    margin-left: 1rem;
  }
}
